.aboutContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 500px;
  margin: 100px 0 0 0;
  // background-color: blue;
  
  &:hover {
    cursor: default;
  }

  .pictureAndAboutContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: fit-content;
    // background-color: blue;
    margin: auto; 
    
    .pictureAndBannerContainer {
      display: flex;
      flex-direction: column;
      
      .mainPortfolioPic {
        width: 200px;
      }

      .pictureBanner {
        display: flex;
        font-weight: 400;
        justify-content: space-between;
        margin: 10px 0;
      }
    }
  }

  .introContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;

    h1, h2 {
      text-align: center;
      line-height: 25px;
      font-weight: 400;
    }

    h1 {
      font-size: 35px;
      font-weight: 600;
      margin: 10px 0;
      line-height: 40px;
    }

    h2 {
      margin-bottom: 20px;
    }

    .siteLinks {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;

      span {

        &:hover {
          cursor: pointer;
        }
      }

      img {
        width: 20px;
        margin: 0 5px;
      }
    }
  }
  
  .myStoryContainer {
    display: flex;
    flex-direction: column;
    // background-color: red;
    width: 78%;
    margin: 40px auto;

    h3 {
      font-size: 25px;
      font-weight: 400;
      margin: 0 0 10px 0;
    }

    p {
      text-align: justify;
    }
  }
}