.aboutContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 500px;
  margin: 100px 0 0 0;
  z-index: 99;

  .pictureAndAboutContainer,
  .myStoryContainer {
    position: relative;
    z-index: 99;
  }

  .aboutTriangle {
    display: block;
    position: absolute;
    top: -27%;
    left: 2%;
    height: 100%;
    fill: #3452dd;
    z-index: 2;

    @media (max-width: 980px) {
      display: none;
    }
  }


  &:hover {
    cursor: default;
  }

  .pictureAndAboutContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: fit-content;
    margin: auto;
    z-index: 99;

    @media (max-width: 980px) {
      flex-direction: column;

      @media (max-width: 280px) {
      }
    }

    .pictureAndBannerContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      z-index: 99;

      @media (max-width: 980px) {
        width: fit-content;
        margin: 0 auto;

        @media (max-width: 280px) {
        }
      }

      .mainPortfolioPic {
        width: 200px;
      }

      .pictureBanner {
        display: flex;
        font-weight: 400;
        justify-content: space-between;
        margin: 10px 0;
        color: white;

        @media (max-width: 980px) {
          color: black;
        }
      }
    }
  }

  .introContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    z-index: 99;

    @media (max-width: 980px) {
      width: fit-content;
      margin: 0 auto;

      @media (max-width: 280px) {
      }
    }

    h1, h2 {
      text-align: center;
      line-height: 25px;
      font-weight: 400;
    }

    h1 {
      font-size: 35px;
      font-weight: 600;
      margin: 10px 0;
      line-height: 40px;
    }

    h2 {
      margin-bottom: 20px;
    }

    .siteLinks {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      span, a {
        text-decoration: underline;

        &:hover {
          cursor: pointer;
        }
      }

      img {
        width: 20px;
        margin: 0 5px;
      }
    }
  }

  .myStoryContainer {
    display: flex;
    flex-direction: column;
    // background-color: red;
    width: 78%;
    margin: 40px auto;

    h3 {
      font-size: 25px;
      font-weight: 400;
      margin: 0 0 10px 0;
    }

    p {
      text-align: justify;
    }

  }
}