.dashboard, .editPostContainer {
  position: relative;
  width: 900px;
  margin: 0 auto;

  .logout {
    font-size: 22px;
    margin: 50px;

    &:hover {
      cursor: pointer;
    }
  }

  .postFormContainer.update {
    position: relative;
    background-color: white;
    width: 700px;
    // top: 30%;
    left: 50%;
    transform: translateX(-50%);
    margin: 150px 0;
  }

  .postFormContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 100px;
    z-index: 95;

    .success {
      position: absolute;
      top: -35px;
      left: 50%;
      transform: translateX(-50%);
      width: fit-content;
      font-size: 20px;
      margin: 0 auto;
    }

    .textPostForm {

      .titleInputContainer {

        .titleInput {
          display: block;
          font-size: 45px;
          margin: 20px 8px;

          &:hover {
            cursor: text;
          }
        }

        .titleInput.placeholder:empty:before {
          content: attr(data-placeholder);
          color: rgb(0, 0, 0, 0.5);
        }
      }

      .bodyPreview {

        .imageContentContainer {
          position: relative;

          .removeBtn {
            position: absolute;
            top: -10px;
            left: 98%;
            height: 25px;
            width: 25px;
            background-color: red;
            color: white;
            font-size: 16px;
            font-weight: bold;
            border-radius: 50%;
            padding: 5px;

            &:hover {
              cursor: pointer;
            }
          }

          .imageContent {
            width: 100%;
            object-fit: contain;
            margin-bottom: 15px;
          }
        }

        .bodyImageOrDescriptionStringContainer {
          position: relative;
          min-height: 500px;

          .bodyImageInputContainer {
            position: absolute;
            top: 30px;
            left: 50%;
            transform: translateX(-50%);
            background-color: gray;
            width: 400px;
            height: 150px;
            z-index: 100;
            border-radius: 5px;

            .bodyImageInputCustomLabel {
              position: relative;

              span {
                display: block;
                padding: 5px;
                margin: 60px 0 0 22px;
                background-color: white;
                border-radius: 3px;
              }

              input {
                display: none;
              }
            }

            textarea {
              position: relative;
              margin: -24px 10px 0 auto;
              display: block;
              background-color: white;
              border-radius: 3px;
            }

            .backBtn {
              position: absolute;
              top: -6px;
              left: 88%;
              width: 50px;
            }
          }
  
          .photoInputIcon {
            position: absolute;
            top: -15px;
            left: 94%;
            width: 30px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }


      .postBtnContainer {
        display: flex;
        justify-content: space-between;
        margin: 10px 10px 10px auto;

        button, .closeLink {
          font-size: 25px;
          padding: 5px;
          color: white;
          border-radius: 5px;
          background-color: rgb(0, 0, 0, 0.5);

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .blogFeed {
    margin: 0 auto 150px auto;
    border-radius: 3px;
    padding: 5px 8px;
    height: 600px;
    width: 600px;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0, 0.5);

    .searchInput {
      font-size: 20px;
      border: 1px solid rgb(0, 0, 0, 0.5);
      border-radius: 3px;
      padding: 5px 3px;
      width: 98%;
    }

    .dashboardShow {
      display: flex;
      justify-content: space-between;
      border: 1px solid rgb(0, 0, 0, 0.1);
      border-radius: 3px;
      margin: 10px 0;

      .titleAndDateContainer {
        margin: 5px;

        a {
          display: block;
          font-size: 28px;
          margin-bottom: 8px;
        }

        span {
          display: block;
          margin-bottom: 8px;
        }

        h3 {
          font-size: 18px;
        }
      }

      .editAndDeleteContainer {
        margin: auto 20px auto 0;

        span {
          margin: 0 5px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .confirmDeleteModal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(0, 0, 0, 0.5);
        z-index: 100;
      }

      .confirmDelete {
        position: absolute;
        background-color: white;
        left: 50%;
        transform: translateX(-50%);
        z-index: 105;

        p {
          padding: 15px;
        }

        div {
          margin: 10px auto;
          width: fit-content;

          button {
            margin: 10px 25px;
            font-size: 20px;
            background-color: gray;
            color: white;
            padding: 5px 8px;
            border-radius: 3px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}