.linksContainer {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 80px auto 0 auto;



  h1 {
    margin: 50px auto 20px auto;
    font-size: 35px;
    font-weight: 600;
  }

  div {
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    .githubLink {
      position: relative;
      top: -1px;
      
    }

    .stackoverflowLink {
      position: relative;
      top: -4px;
    }
    
    a {
      position: relative;
      display: block;
      color: white;
      font-weight: 500;
      border-radius: 3px;
      padding: 8px 10px;
      width: fit-content;
      // background-color: gray;
      margin: 0 20px;

      img {
        width: 50px;
      }
    }
  }
}