.projectsContainer {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  // background-color: blue;

  h1 {
    font-size: 35px;
    font-weight: 600;
    margin: 50px auto 15px auto;
  }

  .projectsTable {
    display: flex;
    width: 100%;
    
    .projectCell {
      display: flex;
      flex-direction: column;
      // background-color: red;
      width: 55%;
      margin: 0 auto;
      border-radius: 10px;
      border: 1px solid rgb(0, 0, 0 , 0.1);

      h2 {
        font-size: 25px;
        font-weight: 500;
        // background-color: yellow;
        width: fit-content;
        margin: 10px auto;

      }

      .rumblrThumbnail {
        width: 100%;
        height: 100%;
      }

      p {
        text-align: justify;
        width: 90%;
        margin: 10px auto;
      }
      
      .githubRepoLink {
        background-color: rgb(0, 0, 0 , 0.5);
        font-weight: 500;
        padding: 8px 10px;
        width: fit-content;
        color: white;
        border-radius: 3px;
        margin: 5px auto;
      }
    }
  }
}